* html box fix */
html{
    position: relative;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body {
    margin: auto;
    text-align: center;
}
form {
    width: 50%;
    position: relative;
    background: linear-gradient(-95deg, rgb(255, 255, 255), rgb(253, 199, 98));
    display: inline-block;
    padding: 0 5% 1% 5%;
    z-index: 10;
    opacity: 70%;
    text-align: justify;
}
h1 {
    font-size: 30px;
    color: rgb(100, 6, 6);
    font-weight: 1000;
    font-family: 'Trebuchet MS';
}
p {
    font-size: 20px;
    font-family: Cambria;
    font-weight: 600;
    color: rgb(100, 6, 6);
}
[type="text"],[type="tel"], [type="email"], textarea, select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}
[type="submit"] {
    width: 100%;
    background-color: rgb(27, 10, 126);
    color: rgb(255, 255, 255);
    padding: 15px;
    border: none;
    margin-top: 10px;
    font-weight: 900;
    font-family: monospace;
    font-size: 15px;
}
#bg-img {
    position: fixed;
    z-index: 0;
}
#background {
    width: 100vw;
}
#title, #description {
    text-align: center;
}
/* Mobile design */
@media (max-width: 999px) {
    body {
        box-sizing: border-box;
    }
    #background {
        display: none;
       }
    #mobile-bg {
        display: inline-block;
        background-image: url(images/bg-img2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
       width: 100%;
        
    }
    p {
        text-align: start;
        font-size: 18px;
    }
   form{
       width: 100%;
       padding: 0 0 20px 0;
   }
   #title {
       color: rgb(56, 3, 3)
   }
   #description {
       font-size: 15px;
       color: rgb(0, 0, 0);
   }
   #main {
    padding: 0 5% 0 5%;
   }
}